# Configuration file

abyssalnite {
    S:color=0x8d77ab
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Abyssalnite
    S:moduleBlacklist <
     >
}


abyssum {
    S:color=0x709ca4
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Abyssum
    S:moduleBlacklist <
     >
}


adamantine {
    S:color=0xc0809
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Adamantine
    S:moduleBlacklist <
     >
}


aluminum {
    S:color=0x9d9e9f
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Iron
    S:moduleBlacklist <
     >
}


ardite {
    S:color=0x882e17
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Gold
    S:moduleBlacklist <
     >
}


aurorium {
    S:color=0xd3969c
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Aurorium
    S:moduleBlacklist <
     >
}


cadmium {
    S:color=0x808486
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Cadmium
    S:moduleBlacklist <
     >
}


chromium {
    S:color=0x818182
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Chromium
    S:moduleBlacklist <
     >
}


cobalt {
    S:color=0x134d9b
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Iron
    S:moduleBlacklist <
     >
}


coldiron {
    S:color=0x616575
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Coldiron
    S:moduleBlacklist <
     >
}


copper {
    D:energyModifier=1.0
    S:extra=Gold
    S:moduleBlacklist <
     >
}


dilithium {
    S:color=0x92a7a6
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Dilithium
    S:moduleBlacklist <
     >
}


draconium {
    S:color=0xb39cca
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Draconium
    S:moduleBlacklist <
     >
}


duranite {
    S:color=0x96a7ba
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Duranite
    S:moduleBlacklist <
     >
}


eezo {
    S:color=0x838586
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Eezo
    S:moduleBlacklist <
     >
}


galvanizedsteel {
    S:color=0x797e7c
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Galvanizedsteel
    S:moduleBlacklist <
     >
}


gold {
    D:energyModifier=1.0
    S:extra=Gold
    S:moduleBlacklist <
     >
}


iridium {
    S:color=0xd7dbe4
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Platinum
    S:moduleBlacklist <
     >
}


iron {
    D:energyModifier=1.0
    S:extra=Nickel
    S:moduleBlacklist <
     >
}


jaopca {
    S:moduleBlacklist <
     >
    S:orePreference <
     >
}


jauxum {
    S:color=0x75c479
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Jauxum
    S:moduleBlacklist <
     >
}


karmesine {
    S:color=0xd26e68
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Karmesine
    S:moduleBlacklist <
     >
}


lead {
    S:color=0x686973
    D:energyModifier=1.0
    S:extra=Silver
    S:moduleBlacklist <
     >
}


liquified_coralium {
    S:color=0x70a491
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=LiquifiedCoralium
    S:moduleBlacklist <
     >
}


magnesium {
    S:color=0x6e6e6b
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Magnesium
    S:moduleBlacklist <
     >
}


manganese {
    S:color=0x908286
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Manganese
    S:moduleBlacklist <
     >
}


mercury {
    S:color=0x373737
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Mercury
    S:moduleBlacklist <
     >
}


mithril {
    S:color=0xa6b9c3
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Gold
    S:moduleBlacklist <
     >
}


nichrome {
    S:color=0x877054
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Nichrome
    S:moduleBlacklist <
     >
}


nickel {
    S:color=0xa6a992
    D:energyModifier=1.0
    S:extra=Platinum
    S:moduleBlacklist <
     >
}


osmium {
    S:color=0x8c949c
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Osmium
    S:moduleBlacklist <
     >
}


osram {
    S:color=0xc0a798
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Osram
    S:moduleBlacklist <
     >
}


ovium {
    S:color=0x6e68d2
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Ovium
    S:moduleBlacklist <
     >
}


palladium {
    S:color=0xd7a477
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Palladium
    S:moduleBlacklist <
     >
}


platinum {
    S:color=0x738696
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Iridium
    S:moduleBlacklist <
     >
}


plutonium {
    S:color=0x77488c
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Plutonium
    S:moduleBlacklist <
     >
}


prometheum {
    S:color=0xb1afb1
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Prometheum
    S:moduleBlacklist <
     >
}


rutile {
    S:color=0x7c6b69
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Rutile
    S:moduleBlacklist <
     >
}


silver {
    D:energyModifier=1.0
    S:extra=Lead
    S:moduleBlacklist <
     >
}


stainlesssteel {
    S:color=0x7e7c7d
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Stainlesssteel
    S:moduleBlacklist <
     >
}


starsteel {
    S:color=0x141415
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Starsteel
    S:moduleBlacklist <
     >
}


tantalum {
    S:color=0x7e7b7d
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Tantalum
    S:moduleBlacklist <
     >
}


tiberium {
    S:color=0xabc067
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Tiberium
    S:moduleBlacklist <
     >
}


tin {
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Iron
    S:moduleBlacklist <
     >
}


titanium {
    S:color=0x6a6b6e
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Titanium
    S:moduleBlacklist <
     >
}


tungsten {
    S:color=0x777777
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Tungsten
    S:moduleBlacklist <
     >
}


uranium {
    S:color=0x637d4d
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Uranium
    S:moduleBlacklist <
     >
}


uru {
    S:color=0xa69eaa
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Uru
    S:moduleBlacklist <
     >
}


valyrium {
    S:color=0xba7f92
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Valyrium
    S:moduleBlacklist <
     >
}


vibranium {
    S:color=0xd4babc
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Vibranium
    S:moduleBlacklist <
     >
}


zinc {
    S:color=0x7b7b7b
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Zinc
    S:moduleBlacklist <
     >
}


zirconium {
    S:color=0x767876
    S:enderIOSecondaryXml=modID="minecraft" itemName="cobblestone" number="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Zirconium
    S:moduleBlacklist <
     >
}


